<template>
  <div>
    <!-- banner -->
    <div
      class="banner ml-[1.75%] mr-[1.75%] mobile:mx-0 lg:h-[430px] md:h-[350px] sm:h-[270px] mobile:h-[250px] rounded-2xl mobile:rounded-none mt-3 dark:mt-0 mobile:mr-0 mobile:mt-0"
    >
      <p
        class="banner__text font-roboto text-center min-w-[768px] text-white leading-[56px] font-bold lg:top-[100px] md:top-[100px] sm:top-20 mobile:hidden dark:sm:top-[100px] dark:md:top-[20%] dark:lg:top-[18%] lg:text-5xl md:text-3xl sm:text-xl"
      >
        Partners
      </p>
    </div>
    <!-- end of content topic -->
    <div
      class="content__news pt-5 mobile:mt-10 mx-8.35 px-1 rounded-3xl shadow-lg lg:mt-[-200px] md:mt-[-150px] sm:mt-[-100px] bg-[#fafafa] dark:bg-[#191A23]"
    >
      <div class="news__title text-center mb-5">
        <p
          class="font-roboto text-[#11152A] dark:text-white leading-[37.5px] font-bold lg:text-[32px] md:text-[24px] sm:text-[20px] mobile:text-[18px]"
        >
          Technologies and work with leading ecosystem partners
        </p>
        <p
          class="font-roboto text-[#11152A] dark:text-white leading-[50px] lg:text-[20px] md:text-[18px] sm:text-[14px] mobile:text-[16px]"
        >
          See what press has to say about us
        </p>
      </div>
      <div
        class="news__box grid gap-10 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-2 mobile:grid-cols-2 mobile:gap-5"
      >
        <!-- box1 -->
        <div
          class="box1 bg-[#fafafa] dark:bg-[#31323E] rounded-lg basis-1/3 shadow-md"
        >
          <img src="../assets/img_news1.png" alt="" class="news__img w-full" />
          <div class="box1__text pl-5 mt-5">
            <p
              class="font-roboto text-[#11152A] dark:text-white leading-[21px] text-[12px]"
            >
              19/03/2022
            </p>
            <p
              class="font-roboto text-[#11152A] dark:text-white leading-[30px] text-[20px] lg:text-xl md:text-base sm:text-sm"
            >
              Hidden universe revealed in <br />
              stunning first images from <br />
              German telescope
            </p>
            <p
              class="font-roboto text-[#6C55F9] leading-[50px] text-[20px] lg:text-xl md:text-base sm:text-sm mb-2"
            >
              Đọc thêm
            </p>
          </div>
        </div>
        <!-- box2 -->
        <div
          class="box1 bg-[#fafafa] dark:bg-[#31323E] rounded-lg basis-1/3 shadow-md"
        >
          <img src="../assets/img_news2.png" alt="" class="news__img w-full" />
          <div class="box1__text pl-5 mt-5">
            <p
              class="font-roboto text-[#11152A] dark:text-white leading-[21px] text-[12px]"
            >
              19/03/2022
            </p>
            <p
              class="font-roboto text-[#11152A] dark:text-white leading-[30px] text-[20px] lg:text-xl md:text-base sm:text-sm"
            >
              Hidden universe revealed in <br />
              stunning first images from <br />
              German telescope
            </p>
            <p
              class="font-roboto text-[#6C55F9] leading-[50px] text-[20px] lg:text-xl md:text-base sm:text-sm mb-2"
            >
              Đọc thêm
            </p>
          </div>
        </div>
        <!-- box3 -->
        <div
          class="box1 bg-[#fafafa] dark:bg-[#31323E] rounded-lg basis-1/3 shadow-md"
        >
          <img src="../assets/img_news3.png" alt="" class="news__img w-full" />
          <div class="box1__text pl-5 mt-5">
            <p
              class="font-roboto text-[#11152A] dark:text-white leading-[21px] text-[12px]"
            >
              19/03/2022
            </p>
            <p
              class="font-roboto text-[#11152A] dark:text-white leading-[30px] text-[20px] lg:text-xl md:text-base sm:text-sm"
            >
              Hidden universe revealed in <br />
              stunning first images from <br />
              German telescope
            </p>
            <p
              class="font-roboto text-[#6C55F9] leading-[50px] text-[20px] lg:text-xl md:text-base sm:text-sm mb-2"
            >
              Đọc thêm
            </p>
          </div>
        </div>

        <!-- box4 -->
        <div
          class="box1 bg-[#fafafa] dark:bg-[#31323E] rounded-lg basis-1/3 shadow-md"
        >
          <img src="../assets/img_news3.png" alt="" class="news__img w-full" />
          <div class="box1__text pl-5 mt-5">
            <p
              class="font-roboto text-[#11152A] dark:text-white leading-[21px] text-[12px]"
            >
              19/03/2022
            </p>
            <p
              class="font-roboto text-[#11152A] dark:text-white leading-[30px] text-[20px] lg:text-xl md:text-base sm:text-sm"
            >
              Hidden universe revealed in <br />
              stunning first images from <br />
              German telescope
            </p>
            <p
              class="font-roboto text-[#6C55F9] leading-[50px] text-[20px] lg:text-xl md:text-base sm:text-sm mb-2"
            >
              Đọc thêm
            </p>
          </div>
        </div>

        <!-- box5 -->
        <div
          class="box1 bg-[#fafafa] dark:bg-[#31323E] rounded-lg basis-1/3 shadow-md"
        >
          <img src="../assets/img_news3.png" alt="" class="news__img w-full" />
          <div class="box1__text pl-5 mt-5">
            <p
              class="font-roboto text-[#11152A] dark:text-white leading-[21px] text-[12px]"
            >
              19/03/2022
            </p>
            <p
              class="font-roboto text-[#11152A] dark:text-white leading-[30px] text-[20px] lg:text-xl md:text-base sm:text-sm"
            >
              Hidden universe revealed in <br />
              stunning first images from <br />
              German telescope
            </p>
            <p
              class="font-roboto text-[#6C55F9] leading-[50px] text-[20px] lg:text-xl md:text-base sm:text-sm mb-2"
            >
              Đọc thêm
            </p>
          </div>
        </div>
        <!-- box6 -->
        <div
          class="box1 bg-[#fafafa] dark:bg-[#31323E] rounded-lg basis-1/3 shadow-md"
        >
          <img src="../assets/img_news3.png" alt="" class="news__img w-full" />
          <div class="box1__text pl-5 mt-5">
            <p
              class="font-roboto text-[#11152A] dark:text-white leading-[21px] text-[12px]"
            >
              19/03/2022
            </p>
            <p
              class="font-roboto text-[#11152A] dark:text-white leading-[30px] text-[20px] lg:text-xl md:text-base sm:text-sm"
            >
              Hidden universe revealed in <br />
              stunning first images from <br />
              German telescope
            </p>
            <p
              class="font-roboto text-[#6C55F9] leading-[50px] text-[20px] lg:text-xl md:text-base sm:text-sm mb-2"
            >
              Đọc thêm
            </p>
          </div>
        </div>
        <!-- box7 -->
        <div
          class="box1 bg-[#fafafa] dark:bg-[#31323E] rounded-lg basis-1/3 shadow-md"
        >
          <img src="../assets/img_news3.png" alt="" class="news__img w-full" />
          <div class="box1__text pl-5 mt-5">
            <p
              class="font-roboto text-[#11152A] dark:text-white leading-[21px] text-[12px]"
            >
              19/03/2022
            </p>
            <p
              class="font-roboto text-[#11152A] dark:text-white leading-[30px] text-[20px] lg:text-xl md:text-base sm:text-sm"
            >
              Hidden universe revealed in <br />
              stunning first images from <br />
              German telescope
            </p>
            <p
              class="font-roboto text-[#6C55F9] leading-[50px] text-[20px] lg:text-xl md:text-base sm:text-sm mb-2"
            >
              Đọc thêm
            </p>
          </div>
        </div>
        <!-- box8 -->
        <div
          class="box1 bg-[#fafafa] dark:bg-[#31323E] rounded-lg basis-1/3 shadow-md"
        >
          <img src="../assets/img_news3.png" alt="" class="news__img w-full" />
          <div class="box1__text pl-5 mt-5">
            <p
              class="font-roboto text-[#11152A] dark:text-white leading-[21px] text-[12px]"
            >
              19/03/2022
            </p>
            <p
              class="font-roboto text-[#11152A] dark:text-white leading-[30px] text-[20px] lg:text-xl md:text-base sm:text-sm"
            >
              Hidden universe revealed in <br />
              stunning first images from <br />
              German telescope
            </p>
            <p
              class="font-roboto text-[#6C55F9] leading-[50px] text-[20px] lg:text-xl md:text-base sm:text-sm mb-2"
            >
              Đọc thêm
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts" setup>
import { computed } from "vue";
import { useStore } from "vuex";
import "tw-elements";
import { count } from "console";
import { url } from "inspector";
const store = useStore();
var showMode = computed(() => store.getters["showMode"]);

store.dispatch("getCountries");
var countries = computed(() => store.getters["countries"]);
</script>
<style scoped>
.banner {
  background-image: url("../assets/banner__news.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.banner__text {
  position: absolute;
  z-index: 9;
  left: 50%;
  transform: translate(-50%, 50%);
}
.banner__button {
  position: absolute;
  z-index: 9;
  left: 50%;
  transform: translate(-50%, 50%);
  background: linear-gradient(270deg, #2cfddc 0%, #a35ff8 108.78%);
}
.banner__button:hover {
  background: linear-gradient(270deg, #a35ff8 0%, #2cfddc 108.78%);
}
.news__img {
  border-radius: 8px 8px 0 0;
}
input[type="checkbox"]#policy__check:checked {
  accent-color: #5a27ed;
}
#policy__check1:checked {
  accent-color: #5a27ed;
}
</style>
